In [64]:

#exp = 'C:/Users/HP/Downloads/tech/policy.csv'
#dat = 'C:/Users/HP/Downloads/tech/data.csv'
#exp = 'C:/Users/HP/Downloads/sme/policy.csv'
#dat = 'C:/Users/HP/Downloads/sme/data.csv'
#exp = 'C:/Users/HP/Downloads/hl_pl/policy.csv'
#dat = 'C:/Users/HP/Downloads/hl_pl/data.csv'
#exp = 'C:/Users/HP/Downloads/prithvi/policy.csv'
#dat = 'C:/Users/HP/Downloads/prithvi/data.csv'
exp = 'C:/Users/HP/Downloads/Consumer/policy.csv'
dat = 'C:/Users/HP/Downloads/Consumer/data.csv'

#exp = 'C:/Users/HP/Downloads/ops/policy.csv'
#dat = 'C:/Users/HP/Downloads/ops/data.csv'

#exp = 'C:/Users/HP/Downloads/data set/grade_matrix3.csv'
#exp = 'C:/Users/HP/Downloads/policy.csv'
#dat = 'C:/Users/HP/Downloads/data.csv'
#dat = 'C:/Users/HP/Downloads/data set/test_data_grade3.csv'

In [65]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [66]:
#nontech
min_comp = pd.Series([1.5,2.5,4.5,7,12,20,30,40,55,75],\
#tech
#min_comp = pd.Series([1.5,2,5,10,18,20,30,40,55,75],\

index=['Executive','Assistant Manager','Manager','Chief Manager','AVP','VP','SVP','Director','MD','President'])
#nontech
max_comp = pd.Series([3.5,5.5,8.5,14,25,35,45,60,80,200], \
#max_comp = pd.Series([3.5,8,14,20,30,36,48,60,80,200], \
index=['Executive','Assistant Manager','Manager','Chief Manager','AVP','VP','SVP','Director','MD','President'])
comp_matrix = pd.concat([min_comp,max_comp], axis=1, keys=['min_comp','max_comp'])

In [67]:
comp_matrix.get_value('Executive','min_comp') # way number 1 - use the keys 
comp_matrix.loc['Executive','min_comp'] # way number 2 - use the keys
comp_matrix.iloc[0,0] # way number 3 - use the number indexes starting from 0,0
comp_matrix

                   min_comp  max_comp
Executive               1.5       3.5
Assistant Manager       2.5       5.5
Manager                 4.5       8.5
Chief Manager           7.0      14.0
AVP                    12.0      25.0
VP                     20.0      35.0
SVP                    30.0      45.0
Director               40.0      60.0
MD                     55.0      80.0
President              75.0     200.0

In [68]:
input_exp_matrix = pd.read_csv(exp,index_col=['rolekey'])
#input_exp_matrix = pd.read_csv(exp)
#exp_matrix = exp_m.set_index(['rolekey'])
#df_gt['comp_dev'] = df_gt.apply(lambda df_gt: comp(df_gt['comp'],df_gt['role_key']), axis=1)
exp_matrix=input_exp_matrix[input_exp_matrix['dual']==1]
input_exp_matrix

,role,business,function,grade,min_exp,max_exp,dual,min_edu,max_edu
rolekey,,,,,,,,,
AREA SALES MANAGER-PERSONAL LOANS,AREA SALES MANAGER,CONSUMER,SALES,Chief Manager,7,12,1,5,2
ASSISTANT SALES MANAGER-PERSONAL LOANS,ASSISTANT SALES MANAGER,CONSUMER,SALES,Assistant Manager,0,5,1,5,3
SALES EXECUTIVE-PERSONAL LOANS,SALES EXECUTIVE,CONSUMER,SALES,Executive,0,5,1,5,3
DISBURSAL CORDINATOR-PERSONAL LOANS,DISBURSAL CORDINATOR,CONSUMER,SALES,Executive,0,4,1,5,3
SALES MANAGER-PERSONAL LOANS,SALES MANAGER,CONSUMER,SALES,Manager,3,8,1,5,3
SALES COORDINATOR-PERSONAL LOANS,SALES COORDINATOR,CONSUMER,SALES,Executive,2,6,1,5,3
AREA SALES MANAGER-TWO WHEELER LOANS,AREA SALES MANAGER,CONSUMER,SALES,Chief Manager,7,12,1,5,2
ASSISTANT SALES MANAGER-TWO WHEELER LOANS,ASSISTANT SALES MANAGER,CONSUMER,SALES,Assistant Manager,0,5,1,5,3
TEAM LEADER-TWO WHEELER LOANS,TEAM LEADER,CONSUMER,SALES,Executive,3,8,1,5,3
REGIONAL SALES MANAGER-TWO WHEELER LOANS,REGIONAL SALES MANAGER,CONSUMER,SALES,Chief Manager,8,15,1,4,2
HEAD OF TWO WHEELER BUSINESS-TWO WHEELER LOANS,HEAD OF TWO WHEELER BUSINESS,CONSUMER,MANAGEMENT,MD,18,25,1,2,1
REGIONAL CREDIT MANAGER-TWO WHEELER LOANS,REGIONAL CREDIT MANAGER,CONSUMER,CREDIT,Chief Manager,8,12,1,4,2

In [69]:
grade_level = input_exp_matrix.groupby(['rolekey'], as_index=True)['dual'].max()

def comp (i,rkey,v) :
    # i ~ compensation , rkey is role key, v is version of grade
    exp_m=input_exp_matrix[input_exp_matrix['dual']==v]
    if not rkey in exp_m.index.values :
        return 'Not Found'
    grade = exp_m.get_value(rkey,'grade')
    if i >= comp_matrix.get_value(grade,'min_comp') and i <= comp_matrix.get_value(grade,'max_comp') :
        return 'No'
    elif i == 0 :
        return 'NA'
    elif i < comp_matrix.get_value(grade,'min_comp') :
        return 'Yes-'
    elif i > comp_matrix.get_value(grade,'max_comp') :
        return 'Yes+'

In [49]:
comp(0.2,'Sales Executive-Home Loans',3)

'Not Found'

In [13]:
#exp_matrix.get_value('Credit Head - Secured Loans-Home Loans','role')

In [70]:
#function to identify deviations in experience
def exp (exp,role_key,v) :
    exp_m = input_exp_matrix[input_exp_matrix['dual']==v]
    if not role_key in exp_m.index.values :
        return 'Not Found'
    elif type(exp)== type('hi') :
        return 'Not Found'
    elif exp >= exp_m.get_value(role_key,'min_exp') and exp <= exp_m.get_value(role_key,'max_exp') :
        return 'No'
    elif exp < exp_m.get_value(role_key,'min_exp') :
        return 'Yes-'
    elif exp > exp_m.get_value(role_key,'max_exp') :
        return 'Yes+'
    
#function to set grade 
def output (c,e,edu,g) :
    # c - compensation and e - experience and edu - education and g - grade
    if c=='Not Found' or e =='Not Found' or edu =='Not Found':
        return 'Not Found'
    elif c=='NA' or e=='NA' or edu=='NA':
        return 'NA'
    else :
        #return 'TBD'
        return g
    
def get_grade(rkey,v) :
    exp_m = input_exp_matrix[input_exp_matrix['dual']==v]
    if rkey in exp_m.index.values : 
           return exp_m.get_value(rkey,'grade')
    else :
        return "Not Found"

def edu (qual,role_key,v) :
    exp_m = input_exp_matrix[input_exp_matrix['dual']==v]
    if not role_key in exp_m.index.values :
        return "Not Found"
    elif type(exp)== type('hi') :
        return 'Not Found'
    elif qual >= exp_m.get_value(role_key,'min_edu') and qual <= exp_m.get_value(role_key,'max_edu') :
        return 'No'
    elif qual < exp_m.get_value(role_key,'min_edu') :
        return 'Yes-'
    elif qual > exp_m.get_value(role_key,'max_edu') :
        return 'Yes+'

    
def grade_l (role_key):
    if not role_key in exp_matrix.index.values :
         return 0
    else :
        return grade_level[role_key]

In [24]:
'hi' in exp_matrix.index.values

False

In [25]:
exp(0,'Sales Executive-Home Loans',1)

'Not Found'

In [26]:
get_grade('Sales Executive-Home Loans',3)

'Not Found'

In [27]:
exp(100,'NSH-Home Loan',1)

'Not Found'

In [30]:
print (grade_l('SOFTWARE ENGINEER-CENTRAL'))

2

In [71]:
df_gt = pd.read_csv(dat)
df_gt['role_spread'] = df_gt.apply(lambda df_gt: grade_l(df_gt['role_key']) ,axis=1)
df_gt['comp_dev'] = df_gt.apply(lambda df_gt: comp(df_gt['comp'],df_gt['role_key'],1), axis=1)
df_gt['exp_dev'] = df_gt.apply(lambda df_gt: exp(df_gt['exp'],df_gt['role_key'],1), axis=1)
df_gt['edu_dev'] = df_gt.apply(lambda df_gt: edu(df_gt['exp'],df_gt['role_key'],1), axis=1)
df_gt['New_grade'] = df_gt.apply(lambda df_gt: output(df_gt['comp_dev'],df_gt['exp_dev'],df_gt['edu_dev'],get_grade(df_gt['role_key'],1)), axis=1)
df_gt['grade_case'] = 1

df_gt.to_csv('consumer_output')

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in less_equal

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in greater
  # Remove the CWD from sys.path while we load stuff.
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in less
  if sys.path[0] == '':
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: RuntimeWarning: invalid value encountered in less_equal
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in greater
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: RuntimeWarning: invalid value encountered in less

In [34]:
#running for v2
db2 =  pd.read_csv(dat)
db2['role_spread'] = db2.apply(lambda db2: grade_l(db2['role_key']) ,axis=1)
o2 = db2[db2['role_spread']>1]

In [35]:
o2['comp_dev'] = o2.apply(lambda o2: comp(o2['comp'],o2['role_key'],2), axis=1)
#comp(100,'CREDIT MANAGER-SBL',1)
o2['exp_dev'] = o2.apply(lambda o2: exp(o2['exp'],o2['role_key'],2), axis=1)
o2['edu_dev'] = o2.apply(lambda o2: edu(o2['exp'],o2['role_key'],2), axis=1)
o2['New_grade'] = o2.apply(lambda o2: output(o2['comp_dev'],o2['exp_dev'],o2['edu_dev'],get_grade(o2['role_key'],2)), axis=1)
o2['grade_case'] = 2

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
result_12 = pd.concat([df_gt,o2])
#result_12.to_csv('tech_3_output')

In [ ]:


db3 =  pd.read_csv(dat)
db3['role_spread'] = db3.apply(lambda db3: grade_l(db3['role_key']) ,axis=1)
o3 = db3[db3['role_spread']>2]
o3['comp_dev'] = o3.apply(lambda o3: comp(o3['comp'],o3['role_key'],3), axis=1)
o3['exp_dev'] = o3.apply(lambda o3: exp(o3['exp'],o3['role_key'],3), axis=1)
o3['edu_dev'] = o3.apply(lambda o3: edu(o3['exp'],o3['role_key'],3), axis=1)
o3['New_grade'] = o3.apply(lambda o3: output(o3['comp_dev'],o3['exp_dev'],o3['edu_dev'],get_grade(o3['role_key'],3)), axis=1)
o3['grade_case'] = 3
result = pd.concat([df_gt,o2,o3])
#result.to_csv('grade_2_output')

In [ ]:
#sum(df_gt['role_spread']>1)+sum(df_gt['role_spread']>2)+206

In [ ]:
#result['New Grade'] = result.apply (lambda result: output(result['comp_dev'],result['exp_dev'],result['edu_dev'],get_grade(result['role_key']),result['grade_case']), axis=1)
#df_gt.to_csv('grade_2_output')

In [ ]:
#exp_matrix['grade']['Sales Executive-Home Loans']

In [ ]:
#"e" in exp_matrix['grade']['Sales Executive-Home Loans']